<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation tests" parallel="methods" thread-count="1">
    <test verbose="1" name="Ginza" annotations="JDK">
        <classes>
            <class name="Tests"/>
        </classes>
    </test>
</suite>